button.custom-button
{
position: relative;
width:400px;
height:250px;
padding: 10px 20px;
margin-bottom: 50px;
margin-right: 50px;
border-radius: 10px;
color:black;
border-color:#ffebcd;
background-color:#d4be77;
text-align: center;
font-size:30px;
cursor: pointer;
}


.bottom-right-text
{
position: absolute;
bottom: 5px;
right: 5px;
font-size:20px;
}

div.gift1{
width:100%;
height:auto;
background-color:rgb(192,192,192,0.5);
font-family:Candara;
padding:1px;
margin-bottom:10px;}


body{
background-image:url("there-is-gold-gift-box-with-bow-gold-ribbon-generative-ai_955884-34428.jpg");
background-size:cover;
background-repeat:no-repeat;
}


div.gift2{
width:100%;
height:60%;
background-color:rgb(0,0,0,0.9);
font-family:Arial;
padding-top:15px;
padding-bottom:10px;
margin-top:-20px;}

.back{
text-decoration:none;
color:white;
line-height:10px;
}

button.custom-button:hover{
background-color:silver;}