section.mainMenu{
background-image:url("menucover3.jpg");
background-size:cover;
transition:background-image 2s ease-in-out;
animation: changeBackground1 10s infinite alternate;
overflow:hidden;
}

section.home1
{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
background-image:url("little-owl-west-village-U.jpeg");
background-size:cover;

}


section.bread{
background-image:url("Breadddd.jpg");
background-size:cover;}

section.meat{
background-image:url("grilled-sirloin-steak-rustic-wood-table-generated-by-ai_188544-22501.jpg");
background-size:cover;}


section.fish{
background-image:url("Fishdish.jpg");
background-size:cover;}

section.vegi{
background-image:url("pexels-pixabay-326281.jpg");
background-size:cover;
padding-top:-10px;}

section.dessert{
background-image:url("dessertssss.jpg");
background-size:cover;}

section.other{
height:50vh;
}

div.inPic{
background-color:rgb(251,234,205,0.5);
width:60%;
height:100%;
margin-left:20%;
margin-right:20%;
padding-top:10%;
padding-left:1%;
padding-right:1%;
}

h1{text-align:center;
margin-top:10%;}

p.end{
text-align:center;
}

a.hide{
text-decoration:none;
color:white;
font-family:Arial;
}

div.last{
background-color:black;
text-align:center;
height:40%;
padding-top:2%;
padding-bottom:5%;
}

td{
padding:1px;}

@keyframes changeBackground1{
0%{
background-image:url('menucover8.jpg');}
50%{
background-image:url('grilled-sirloin-steak-rustic-wood-table-generated-by-ai_188544-22501.jpg');}
100%{
background-image:url('menucover11.jpg');}
}
}


div.cover{
width:60%;
height:70%;
border-radius:20px;
color:white;
z-index:1;
background-color:rgb(251,234,205,0.5)
margin-top:100px;}

p.cover{
margin-top:200px;
color:black;
font-family:candara;
background-color:rgb(251,234,205,0.7);
width:60%;
height:70%;
padding:50px;
font-size:30px;
font-style:italic;}